<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:variable)%> Ruby on Rails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/header' %>

<div class="container-fluid">
  <%= yield %>
</div>

</body>

<%= render 'layouts/footer' %>
</html>